html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #6d6e71;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    background: #eee repeat fixed left top;
    font: normal 81.25%/1.5 arial, helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
}

.ie9 .widget-container .imgHolder a:hover img, .oldie .widget-container .imgHolder a:hover img, .ie9 .widget-folio.caption-over .imgHolder a:hover img, .oldie .widget-folio.caption-over .imgHolder a:hover img {
    -ms-transform: none !important;
    transform: none !important;
}

#inner-body {
    background-color: #fff;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:before, .container:before, figure:before, .clearfix:after, .container:after, figure:after {
    content: "";
    display: table;
}

.clearfix:after, .container:after, figure:after {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -.05em;
}

h2 {
    font-size: 2.15385em;
    line-height: 1.6;
    margin-bottom: .6em;
    letter-spacing: 0.01em;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    -webkit-transition: background-color 150ms linear, color 150ms linear;
    -moz-transition: background-color 150ms linear, color 150ms linear;
    -o-transition: background-color 150ms linear, color 150ms linear;
    transition: background-color 150ms linear, color 150ms linear;
    border: none;
    padding: 0;
    margin: 0;
}

a img {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}

nav ul, nav ol {
    list-style: none;
    border: none;
}

li {
    margin-bottom: 1em;
    line-height: 1.5;
    border-color: #ccc;
    border-width: 1px;
}

figure {
    margin: 0;
}

figcaption, figure {
    position: relative;
}

/* ---------- HEADER ---------- */
header.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header#siteheader {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

header#siteheader .container {
    min-height: 144px;
    color: #fff;
    z-index: 2000;
    margin-bottom: 0;
    position: relative;
}

@media only screen and (min-width: 960px) {
    header#siteheader .container {
        height: 85px;
    }
}

header#siteheader #sitetitle {
    background-color: #FFF;
}

header#siteheader #logo {
    padding: 0;
    position: relative;
    background-color: #FFF;
}

header#siteheader #logo .logo_inner {
    width: 200px;
    height: 40px;
    position: inherit;
}

header#siteheader #logo h2, header#siteheader #logo h3 {
    font-weight: 600;
    line-height: 80px;
    margin: 0;
    text-indent: -9999px;
    display: inline-block;
    font-family: 'Open Sans', arial, sans-serif;
}

header#siteheader #logo h1, header#siteheader #logo h3, header#siteheader #logo h4, header#siteheader #logo img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #333;
}

header#siteheader #logo .logo_inner hgroup {
    display: none;
}

header#siteheader #logo a {
    color: #fff;
    background: 0 0;
}

header#siteheader #logo .logo_inner > a {
    top: 30px;
    position: inherit;
    display: inline-block;
}

header#siteheader #logo img {
    max-width: 200px;
    position: inherit;
}

header#siteheader #logo .nav-toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    height: 30px;
}

header#siteheader #logo .nav-toggle a {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: -50%;
    background: url(images/icons/menu-toggle.png) 1px 1px no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

header#siteheader nav {
    position: relative;
    top: 40px;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 990px) {
    header#siteheader nav {
        top: 40px;
    }
}

@media only screen and (min-width: 768px) {
    header#siteheader nav {
        top: 40px;
    }
}

header#siteheader .sf-menu {
    z-index: 1001;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

@media only screen and (min-width: 768px) {
    header#siteheader .sf-menu {
        display: inline-block !important;
    }
}

header#siteheader .sf-menu:after, header#siteheader .sf-menu:before {
    content: "";
    display: table;
}

header#siteheader .sf-menu > li a {
    color: #3d3d3d;
    font-weight: 600;
    line-height: 20px;
    padding: 0px;
}

header#siteheader .sf-menu li.current-menu-ancestor > a, .sf-menu li.current-menu-parent > a, .sf-menu li.current_page_item > a, .sf-menu li.current-menu-item > a, .sf-menu > li > a:hover, .sf-menu > li.sfHover, .sf-menu > li.sfHover > a {
    border-bottom-color: #63859d !important;
    background-color: #FFF !important;
}

.sf-menu li.current-menu-ancestor, .sf-menu li.current-menu-ancestor > a, .sf-menu li.current-menu-item, .sf-menu li.current-menu-item > a, .sf-menu li.current-menu-parent, .sf-menu li.current-menu-parent > a, .sf-menu li.current_page_item, .sf-menu li.current_page_item > a {
    color: #3d3d3d !important;
    background-color: #f5f5f5 !important;
}

@media only screen and (min-width: 990px) {
    .sf-menu > li {
        margin-right: 4.25em;
    }
}

.top_content {
    display: none;
    height: 50px;
}

/* ---------- MAIN ---------- */
#main {
    min-height: 260px;
}

/* ---------- FOOTER ---------- */
.subfooter-bar {
    background: none repeat scroll 0 0 #63859d;
    height: 6px;
}

.subfooter {
    background: #343434 url(images/pattern/noise-1.png) repeat left top;
    width: 100%;
    position: relative;
    color: #888;
    border-top: none;
    font-size: 96%;
}

.subfooter > .container {
    padding-top: 35px;
}

.grid_wrapper {
    margin-left: -1%;
    margin-right: -1%;
    position: relative;
}

.grid_wrapper:after, .grid_wrapper:before {
    content: "";
    display: table;
}

.one_half {
    width: 47.98%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    display: block;
}

.subfooter .widget-container {
    padding-bottom: 0;
    margin-bottom: 30px;
    position: relative;
}

.subfooter .widget-container .widget-title, .subfooter .widget-container .widget-title a {
    color: #fff;
}

.subfooter .widget-container .widget-title {
    font-size: 1.2em;
    margin-bottom: 1.7em;
    font-weight: 400;
    letter-spacing: -.03em;
}

aside .widget-container .widget-title {
    position: relative;
}

aside .widget-inner {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.widget-inner:after, .widget-inner:before {
    content: "";
    display: table;
}

aside .widget_recent_blog .mini, aside .widget_recent_news .mini {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #4a4a4a;
}

aside .widget_recent_blog article:last-child, aside .widget_recent_news article:last-child, aside .widget_recent_tweets article:last-child {
    border-bottom: none !important;
}

.widget-container figure {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.imgHolder {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    transition: height .7s ease-out;
}

aside .widget_recent_blog .imgHolder, aside .widget_recent_news .imgHolder {
    width: 50px;
}

.widget-container .mini .imgHolder {
    float: left;
    margin-right: 3%;
    margin-bottom: .8em;
    display: inline-block;
    width: 60px;
    z-index: 20;
}

aside .widget_recent_news .mini .imgHolder {
    margin-right: 12px;
}

.imgHolder > a {
    background: none;
    cursor: pointer;
}

.subfooter .entry-title a, .subfooter a {
    color: #a9a9a9;
}

.widget-container .mini figcaption {
    z-index: 19;
}

.widget-container .mini .imgHolder + figcaption {
    display: inline;
}

.entry-header {
    display: block;
    position: relative;
}

.widget-container .land .entry-header, .widget-container .mini .entry-header {
    margin-top: 0;
}

.widget-container .mini .entry-header {
    margin-bottom: 3px;
}

aside .widget_recent_news .imgHolder + figcaption .entry-content, aside .widget_recent_news .imgHolder + figcaption .entry-header {
    margin-left: 59px !important;
}

.widget-container figcaption h4, figcaption h4 {
    margin-bottom: .5em;
    margin-top: 1.5em;
}

aside .widget_recent_blog .entry-title, aside .widget_recent_news .entry-title {
    margin-top: 0;
    display: inline;
}

.subfooter .widget-container .entry-title, .subfooter .widget-container h4 {
    color: #fff;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: .01em;
}

.widget-container .mini .entry-title {
    position: relative;
    line-height: 100%;
}

aside .widget_recent_news .mini .imgHolder + figcaption .entry-title {
    margin-left: 0 !important;
}